// TODO: Personalize this file for elements per your design

html {
  font-size: 62.5%; // Sets up the Base 10 stuff
}

body {
  @include font("body");
  position: relative;
  overflow-x: hidden;
  min-width: $min-page-width;
  margin: 0 auto;
  color: $color-black;
  background-color: $color-white;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  &.is-locked {
    overflow: hidden;
  }
}

a,
i,
button {
  cursor: pointer;
}

sup {
  font-size: 0.5em;
  vertical-align: super;
}

hr {
  width: 100%;
  height: 1px;
  margin: 0;
  border: 0;
  background-color: $color-offwhite;
}

[type=text],
[type=number],
[type=search],
[type=password],
[type=email],
[type=tel],
[type=radio],
[type=submit],
select,
textarea {
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 0;
  background: none;
  appearance: none;
  &:-ms-expand {
    display: none;
  }
}

[type=radio] {
  border-radius: 50%;
}

button {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  &:disabled {
    cursor: inherit;
  }
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

h1 {
  @include font("heading-lg");
  margin-bottom: $spacing-md;
}

h2 {
  @include font("heading");
}