$className: 'main';

.#{$className} {
  @include container('lg');
  padding-top: $spacing-lg;

  @media only screen and (min-width: $screen-sm-min) {
    @include container('md');
  }

  @media only screen and (min-width: $screen-md-min) {
    @include container('sm');
  }

  & section:not(:last-of-type) {
    margin-bottom: $spacing-md;
  }

  & ul {
    list-style: disc;
    padding-left: 15px;
  }

  & section.details {

    & p {
      padding: 5px;
      padding-left: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: #f2f2f2;
      border-left: 5px solid $color-primary;
    }
  }
}