// DELETE ME IF YOU DON'T WANT A MAIN COMPONENT
$className: 'main';

.#{$className} {
  @include container('lg');
  padding-top: $spacing-lg;

  @media only screen and (min-width: $screen-sm-min) {
    @include container('md');
  }

  @media only screen and (min-width: $screen-md-min) {
    @include container('sm');
  }

  & section:not(:last-of-type) {
    margin-bottom: $spacing-lg;
  }
}